body, html {
    height: 100%;
}

.bg {
    background: rgba(23, 23, 23, 0.96) url("../img/FSH-1537176706700-18khomemodehv4desktop.webp");
    height: 100%;
    background-size: cover;
    margin: 0;
}

#list-bg {
    padding: 0 150px;
}

#detail-bg {
    /*margin: 40px 100px;*/
    padding: 0 150px;
    margin-bottom: 100px;
}

.top-header {
    border-bottom: 0.2px white solid;
    width: 75%;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 18px 0;
}

.top-header .logo {
    margin: 15px 0;
    color: white;
    font-weight: bold;
    /*font-family: 'Alegreya', serif;*/
    font-family: 'Pacifico', cursive;
    /*font-family: 'Trocchi', serif;*/
}

.top-header .logout-btn {
    position: absolute;
    top: 3%;
    right: 15%;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: 2px solid #4CAF50;
    border-radius: 8px;
    transition-duration: 0.4s;
}

.top-header .admin-btn {
    position: absolute;
    top: 3%;
    right: 23%;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: #0435af;
    color: white;
    border: 2px solid #0435af;
    border-radius: 8px;
    transition-duration: 0.4s;
}

.enter {
    position: absolute;
    width: 22%;
    height: 14%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0.2em white solid;
    text-align: center;
    text-decoration: none;
    background-color: rgba(200, 197, 197, 0.3);
}

.enter:hover {
    background-color: rgba(68, 67, 67, 0.5);
}

.enter p {
    font-size: 45px;
    color: white;
    line-height: 100px;
    font-weight: 500;
    text-decoration: none;
    /* font-family: 'Song Myung', serif; */
    /*font-family: 'Yeon Sung', cursive;*/
    font-family: 'Trocchi', serif;
}

.github-link {
    position:absolute;
    font-size: 34px;
    color: white;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-decoration: none;
}

.github-link:hover {
    color: #dbdbdbb4;
}

.index-cards {
    display: block;
    margin-top: 12%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.index-card {
    text-decoration: none;
    margin: 0 25px;
}

.index-card:hover {
    background-color: #c0c0c0;
}

#comment-label {
    font-weight: bold;
}

#board-detail-btns {
    margin-bottom: 60px;
}

.recomment-tr {
    background-color: #eeebeb;
}

.recommentBtn {
    cursor: pointer;
}

.delete-comment {
    cursor: pointer;
}

.table {
    margin: 20px 0;
}

.category-h2 {
    margin-top: 80px;
}